ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

* {
  font-family: 'Nunito', sans-serif !important;
}

a {
  text-decoration: none
}

a:hover {
  text-decoration: none
}

img {
  object-fit: cover;
  width: 100%;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;

  &:focus {
    outline: none;
  }
}

.nuxt-link-exact-active, .gold {
  color: #F8C563 !important;
}

.hamburger {
  display: none;
}

.swiper-controls-mobile {
  display: none;
}

.full-bg {
  background: rgba(115, 115, 115, 0.09);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.container-discounts {
  .row {
    justify-content: center;
  }
}

@import "global/swiper";
@import "media/burger";
@import "components/header";
@import "components/card";
@import "components/category";
@import "components/company";
@import "components/post";
@import "components/spinner";
@import "components/map";
@import "components/searchPanel";
@import "components/footer";
@import "components/about";
@media(max-width: 1200px) {
  @import "medeioLandscope/media";
}

@media(max-width: 500px) {
  @import "media/media";
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');


.page-enter-active, .page-leave-active {
  transition-duration: 0.2s;
  transition-property: height, opacity, transform;
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  overflow: hidden;
  opacity: 0;
}

.page-enter, .page-leave-active {
  opacity: 0;
}

.save-button {
  cursor: pointer;
}

.hide-props {
  margin-top: 10px;
  display: flex;
  font-size: 14px;
  line-height: 18px;
  color: #043C6B !important;
  cursor: pointer;
}

.hide-props:hover {
  opacity: 0.8;
}

.navigation-search {
  z-index: 99;
  position: relative;
  display: none;

  &-bg {
    position: fixed;
    bottom: 51px;
    right: 31px;
    width: 100px;
    height: 100px;
    transform: scale3d(0,0,1) translate3d(50%, 50%, 0);
    transition: transform .5s ease;
    transform-origin: bottom right;
    z-index: 1;
    background: white;
    border-radius: 50%;
  }

  .bottom-search-button {
    position: fixed;
    right: 10px;
    bottom: 30px;
    width: 42px;
    height: 42px;
    box-shadow: 0 3px 4px rgba(0,0,0,.25);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;

    svg {
      width: 42px;
    }
  }

  &-content {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background: white;
    opacity: 0;
    transition: opacity .5s ease;

    &.active {
      display: block;
    }

    &.visible {
      opacity: 1;
    }
  }

  &-header {
    width: 100%;
    background-color: #FAFAFA;
    height: 70px;
    display: flex;
    align-items: center;

    span {
      margin: auto;
      position: relative;
      left: -20px;
    }

    svg {
      margin-left: 15px !important;
      margin-right: 0 !important;
    }

    .search-go-back {
      width: 19px;
      height: 21px;
      cursor: pointer;
    }
  }

  &-items {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
  }

  &-selectedItems {
    font-weight: 500;
    font-size: 9px;
    line-height: 12px;
    display: flex;
    align-items: center;
    margin-top: 23px;
    color: #434343;

    span {
      color: #DA1E1E !important;
    }
  }

  &-btn {
    background: #F8C563;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 121.24px;
    height: 31.5px;
    border-radius: 3px;

    span {
      color: #434343;
      font-weight: 900;
      font-size: 10px;
      line-height: 14px;
    }
  }

  &-item {
    margin: 10px 0;
    width: fit-content;
    height: fit-content;

    select {
      width: 278px;
      height: 44px;
      font-size: 14px;
      line-height: 16px;
      background-color: #FFFFFF;
      border: 0.5px solid #ECDFDF;
      box-sizing: border-box;
      border-radius: 3px;
      margin: 8px 0;
      -webkit-appearance: none;
      appearance: none;
      background-image: url("/images/select-arrow.svg");
      background-size: 15px 16px;
      background-position: 94% 50%;
      background-repeat: no-repeat;
      padding: 0 15px;
    }
  }

}

.navigation-search-active {
  display: flex;
  position: fixed;
  flex-direction: column;
  left: auto;
  right: 0;
  width: 100%;
  height: 100vh;
  top: 0;
  z-index: 999999;
  background-color: #fff;

  svg {
    margin-left: auto;
    margin-right: 30px;
  }
}

.overlay-logo {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .text {
    background: linear-gradient(110.68deg, #FBD16D 6.65%, #D9952E 51.73%, #FF8A00 91.54%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 15px;
    margin-bottom: 30px;

    span {
      background: linear-gradient(110.68deg, #FBD16D 6.65%, #D9952E 51.73%, #FF8A00 91.54%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 15px;
      opacity: 0;
      animation: opacityText 4s linear forwards;
      animation-iteration-count: infinite !important;
    }
  }

  svg {
    width: 5%;
    height: auto;
    position: relative;
    right: 10px;
  }

}

.logo-anim {
  fill: transparent;
  stroke-dasharray: 4000;
  stroke-dashoffset: 4000;
  animation: dash 4s linear forwards;
  animation-iteration-count: infinite !important;
}

@keyframes dash {

  to {
    stroke-dashoffset: 0;
  }
}

@keyframes opacityText {
  to {
    opacity: 1;
  }
}

.save-button {
  svg {
    width: 41px;
    height: 37px;

    path {
      transition: all linear 1s;
    }

    .heart-icon {
      fill: transparent;
    }
  }

  .heart-icon-active {
    animation: saveIcon 2s linear forwards;
    animation-iteration-count: 1 !important;

    path {
      fill: red !important;
    }
  }
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
  margin-bottom: 0;
}
@keyframes saveIcon {
  from {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}

.mobile-width{
  width: 360px;
}
.not-found{
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  img{
    height: 200px;
  }
  p{
    margin-top: 25px;
    background: linear-gradient(90deg, #162F4A 0%, #224B76 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: bold;
    text-align: center;
  }
}

.container {
  max-width: 1200px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.page {
  &__go-back {
    margin-top: 50px;
    width: fit-content;
    cursor: pointer;

    svg {
      transform: scaleX(-1);
    }
  }
}

.isLoading {
    background-image: linear-gradient(90deg, #ddd 0px, #e8e8e8 40px, #ddd 80px);
    animation: shine 1.6s infinite linear;
}

@keyframes shine {
  0% {
    background-position: -100px;
  }
  40%,
  100% {
    background-position: 200px;
  }
}
