
ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

* {
  font-family: 'Nunito', sans-serif !important;
}

a {
  text-decoration: none
}

a:hover {
  text-decoration: none !important
}

img {
  object-fit: cover;
  width: 100%;
}


.nuxt-link-exact-active {
  color: #F8C563 !important;
}
.hamburger{
  display: none;
}
@import "global/swiper";
@import "components/header";
@import "components/card";
@import "components/category";
@import "components/company";
@import "components/post";
@import "components/spinner";
@import "components/map";
@import "components/searchPanel";
@import "components/footer";
@media(max-width: 500px) {
  @import "media/media";
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');


.page-enter-active, .page-leave-active {
  transition-duration: 0.2s;
  transition-property: height, opacity, transform;
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  overflow: hidden;
  opacity: 0;
}

.page-enter, .page-leave-active {
  opacity: 0;
}

.save-button {
  cursor: pointer;
}

.hide-props {
  margin-top: 10px;
  display: flex;
  font-size: 16px;
  line-height: 18px;
  color: #043C6B !important;
  cursor: pointer;
}

.hide-props:hover {
  opacity: 0.8;
}
