
ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

* {
  font-family: 'Nunito', sans-serif !important;
}

a {
  text-decoration: none
}

a:hover {
  text-decoration: none !important
}

img {
  object-fit: cover;
  width: 100%;
}


.nuxt-link-exact-active {
  color: #F8C563 !important;
}

@import "global/swiper";
@import "components/header";
@import "components/card";
@import "components/category";
@import "components/company";
@import "components/post";
@import "components/spinner";
@import "components/map";
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

.overlaySearch {
  width: 100%;
  height: 350px;
  background-image: url('/images/bg.png');
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlaySearch::after {
  content: '';
  position: absolute;
  background-color: rgba(21, 22, 26, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay-search {
  z-index: 999;
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  width: fit-content;
  flex-direction: column;

  .basic-single {
    width: 250px;
    margin: 10px 5px;
    background-color: #fff;
  }

  &-title {
    font-weight: bold;
    font-size: 26px;
    line-height: 35px;
    color: #fff;

    b {
      color: #FF8A00
    }
  }
}

.footer {
  width: 100%;
  height: 47px;
  background: #043C6B;
}


.page-enter-active, .page-leave-active {
  transition-duration: 0.2s;
  transition-property: height, opacity, transform;
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  overflow: hidden;
  opacity: 0;
}

.page-enter, .page-leave-active {
  opacity: 0;
}
