.about {
  .container-fluid {
    padding-top: 60px;
    padding-bottom: 150px;
  }

  &-country {
    font-size: 14px;
    line-height: 14px;
    color: #737373;
  }

  &-title {
    margin: 20px 0;
    font-size: 40px;
    line-height: 55px;
    color: #434343;
  }

  &-content {
    font-size: 18px;
    line-height: 22px;
    color: #434343;
  }
}

.overlayAbout {
  height: 284px;
  background: url("/images/aboutPanel.jpg");
}

.overlayAbout::after {
  background: rgba(0, 0, 0, 0.5);
}

.about-mision {
  width: 100%;
  margin-top: 20px;
  background: #F4F4F4;
  border-radius: 3px;
  padding: 20px 25px;
  font-size: 16px;
  line-height: 22px;
  color: #434343;

  p {
    font-size: 22px;
    line-height: 30px;
    color: #0B0B0B;
  }
}

.contact-form {
  width: 332px;
  height: fit-content;
  background: #FFFFFF;
  border: 0.5px solid #E3E3E3;
  border-radius: 4px;
  padding: 35px 35px 35px 35px;

  &-title {
    font-size: 18px;
    line-height: 23px;
    color: #434343;
    margin-bottom: 0;
  }

  &-text {
    font-size: 12px;
    line-height: 16px;
    color: #737373;

  }

  input {
    margin-top: 15px;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #8D8D8D;
    width: 260px;
    height: 38px;
    background-color: #FBFBFB;
    border: 0.5px solid #E3E3E3;
    border-radius: 10px;
    padding-left: 44px;
    background-repeat: no-repeat;
    background-position: 22px 50%;
  }

  &-name {
    background-image: url("/images/name-input.svg");
  }

  &-email {
    background-image: url("/images/email-input.svg");
  }

  input:focus, textarea:focus {
    outline: none;
  }

  &-textarea {
    width: 260px;
    height: 82px;
    padding: 20px;
    margin-top: 15px;
    background: #FBFBFB;
    border: 0.5px solid #E3E3E3;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #8D8D8D;

  }

  &-btn {
    margin: 20px auto auto auto;
    font-weight: bold;
    font-size: 10px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #434343;
    background: #F8C563;
    border-radius: 150px;
    width: 99px;
    justify-content: center;
    cursor: pointer;
    height: 23px;
    border:none ;
  }
  &-btn:focus{
    outline: none;
  }
}

.about {
  .contact-form {
    margin-top: 20px;
    top: 100px;
    position: sticky;
  }
  .error{
    font-size: 12px;
    line-height: 14px;
    color: red;
    display: block;
    margin-top: 3px;
  }
}
.grecaptcha-badge{
  display: none !important;
}
