.about {
  .container {
    max-width: 800px;
   padding-top: 60px;
    padding-bottom: 150px;
  }

  &-country {
    font-size: 14px;
    line-height: 14px;
    color: #737373;
  }

  &-title {
    margin: 20px 0;
    font-size: 40px;
    line-height: 55px;
    color: #434343;
  }

  &-content {
    font-size: 18px;
    line-height: 22px;
    color: #434343;
  }
}

.overlayAbout {
  height: 284px;
  background: url("/images/aboutPanel.jpg");
}

.overlayAbout::after {
  background: rgba(0, 0, 0, 0.5);
}

.about-mision {
  width: 100%;
  margin-top: 20px;
  background: #F4F4F4;
  border-radius: 3px;
  padding: 20px 25px;
  font-size: 16px;
  line-height: 22px;
  color: #434343;

  p {
    font-size: 22px;
    line-height: 30px;
    color: #0B0B0B;
  }
}
