.overlayHeader {
  width: 100%;
  background-color: #fff;

    .row {
      height: 50px;
    }
    .col-12 {
      height: 100%;
      align-items: center;
      display: flex;
    }
}

.header {
  &-menu {
    display: flex;
    margin-bottom: 0;
    li{
      margin: 0 29px;
      a{
        font-size: 15px;
        line-height: 16px;
        color: #737373;
      }
      a:hover{
        color: #F8C563
      }
    }
  }
}
