.overlayHeader {
  width: 100%;
  background-color: #fff;
  position: fixed;
  z-index: 999;
  top: 0;
  .row {
    height: 50px;
  }

  .col-12 {
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 85px;
  }
}

.header {
  &-menu {
    display: flex;

    li {
      margin: 0 29px;

      a {
        font-size: 15px;
        line-height: 16px;
        color: #737373;
      }

      a:hover {
        color: #F8C563
      }
    }

    li:first-of-type {
      margin-left: 0;
    }
  }

  &-locales {
    align-items: center;
    display: flex;
    height: 24px;

    a {
      margin: 0 5px;
      display: inline-block;
      font-size: 15px;
      line-height: 16px;
      color: #737373;
    }
  }
}
