.map-google {
  width: fit-content;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;

  &-title {
    margin: 70px 0 10px 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #434343;
  }
}

.marker {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #F8C563;
}
