.overlaySearch {
  width: 100%;
  height: 350px;
  background-image: url('/images/bg.png');
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .overlay-search-select {
    width: 100%;
    max-width: 160px;
  }
}

.overlaySearch::after {
  content: '';
  position: absolute;
  background-color: rgba(21, 22, 26, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay-search {
  z-index: 100;
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  width: fit-content;
  flex-direction: column;
  padding: 0 15px;

  &-subtitle {
    margin: 10px 0 20px 0;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: #FFFFFF;
  }

  .vs__selected-options {
    text-align: left;

    input {
      // position: absolute;
    }
  }

  .basic-single {
    width: 100%;
    font-size: 12px;
    line-height: 14px;
    color: #828282;
  }

  &-label {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 15px;
    line-height: 14px;
    color: #000000;
  }

  .vs__selected-options {
    flex-wrap: nowrap;
  }

  .vs__selected {
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #224B76;
  }

  .vs__dropdown-menu {
    overflow-x: hidden;
    max-height: 219px;
  }

  &-select {
    display: flex;
    flex-direction: column;
    width: 100%;

    .vs__selected-options {
      padding: 0;

      input {
        padding: 0;
        margin: 0;
      }
    }

    .vs__search, .vs__search:focus {
      min-width: 0;
    }

    .vs__actions {
      position: absolute;
      right: -40px;
    }

    &-wrapper {
      width: 230px;
      background-color: #fff;
      padding: 15px 30px;
      display: flex;
      justify-content: center;
      position: relative;
    }
  }

  .cat-select::after {
    content: '';
    display: inline-block;
    width: 1px;
    height: 70%;
    position: absolute;
    background: #B3B3B3;
    left: auto;
    right: 0;
    top: 50%;
    border-radius: 500px;
    transform: translateY(-50%);
  }

  .vs__open-indicator {
    display: none !important;
  }

  .vs__clear {
    position: relative;
    top: -15px;
    left: -15px;
  }

  .vs__dropdown-toggle {
    border: none;
    padding: 0;
  }

  &-title {
    display: flex;
  }

  &-title h1 {
    font-weight: bold;
    font-size: 26px;
    line-height: 35px;
    color: #fff;
    margin-right: 6px;

  }

  &-title h2, strong {
    font-weight: bold;
    font-size: 26px;
    line-height: 35px;
    color: #F8C563;
  }
}

.overlay-search-select-wrapper:first-of-type {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px
}

.overlay-search-select-wrapper:last-of-type {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px
}
.overlay-search-title{
  div{
    font-weight: bold;
    font-size: 26px;
    line-height: 35px;
    color: #fff;
    margin-right: 6px;
  }
}
.overlay-search-subtitle{
  h2{
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: #FFFFFF;
  }
}
