@import "burger";

.overlayHeader {
  .col-12 {
    padding: 0 15px !important;
  }

  .hamburger {
    padding: 0 !important;
    margin-top: 5px;
  }

  .hamburger:focus {
    outline: none !important;
  }

  .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
    background: #F8C563 !important;
    height: 2px !important;
  }

  .header-menu {
    li {
      margin: 10px 29px;
    }

    flex-direction: column;
    z-index: 1000;
    width: 100%;
    position: absolute;
    top: 50px;
    left: 0;
    background-color: #fff;
    align-items: center;
  }

  .header-menu li:first-of-type {
    margin-left: 29px;
  }

  .header-menu {
    display: none;
  }

  .is-active-menu {
    display: flex;
  }

  .header-locales {
    margin-left: auto;
    margin-right: 15px;
  }
}

.overlaySearch {
  height: 250px;

  .d-flex {
    display: none !important;
  }
}

.footer {
  height: 100%;
}

.footer .row .footer-col {
  margin-top: 15px;
  max-width: none;
  width: 100%;
  padding: 0 15px;
}

.footer-row {
  padding: 0 15px;
  margin-top: 35px;
}

.overlay-search-title {
  font-size: 20px;
  line-height: 25px;
}

.swiper-fluid {
  padding: 0 15px !important;
}

.slide-width {
  width: 100% !important;
}

.post-container .d-flex {
  flex-wrap: wrap-reverse;
}

.post-shop {
  margin: 20px 0;
}

.post-container .post-title {
  font-size: 23px;
  margin-top: 20px;
}

.company-section {
  margin-top: 0;
}

.post-text {
  width: 100%;
  max-width: none;
}

.post-back-button span {
  font-size: 14px;
}

.post-container {
  padding: 0 !important;

  .post-image {
    width: 100% !important;
    height: auto !important;
    max-height: 336px;
  }
}

.post-back-button {
  span {
    display: none !important;
  }
}

.post-swiper {
  margin-top: 25px;
}

.swiper-controls {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.swiper-col {
  flex-wrap: wrap;
  padding: 0;
}

.swiper-title {
  margin: 15px 0;
  width: 100%;
}

.company-section-item {
  height: 100%;
}

.company-section-item-elements {
  height: 100%;
}

.company-section-letters a:first-of-type {
  margin-left: 5px;
}

.company-item-page {
  .d-flex {
    flex-wrap: wrap !important;

    .post-text {
      margin: 20px 0 0 0 !important;
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}

.swiper-fluid {
  margin-top: 20px;
}

.company-section-letters {
  padding: 12px 0;
}

.swiper-col {
  padding: 0 15px;
}

.company-section {
  margin-bottom: 35px;
}

.post-swiper {
  .swiper-col {
    padding: 0;
  }
}

.overlay-card {
  margin: 20px 0;
}

.company-item-page {
  margin-top: 0 !important;

  .post-title {
    margin: 10px 0 !important;
  }

  .col-12 {
    padding: 0 !important;
  }
}

.category-section {
  margin: 15px 0;

  .swiper-title {
    font-size: 16px;
  }

  .swiper-col {
    padding: 0 !important;
  }
}

.post-swiper .overlay-card {
  margin: auto !important;
}

.swiper-controls {
  display: none;
}
.col-swiper{
  padding: 0 !important;
  .swiper-slide{
    padding: 0 15px;
  }
  .swiper-controls-prev {
    top: 28% !important;
    opacity: 0.8;
  }
  .swiper-controls-next {
    top: 28% !important;
    opacity: 0.8;
  }
}
.swiper-controls-mobile {
  display: flex;

  .swiper-controls-prev {
    display: flex;
    position: absolute;
    width: fit-content;
    top: 38%;
    z-index: 100;
    left: 0;
    right: 0;
    margin-right: auto;
    opacity: 0.8;
  }

  .swiper-controls-next {
    display: flex;
    position: absolute;
    width: fit-content;
    top: 38%;
    z-index: 100;
    left: 0;
    right: 0;
    margin-left: auto;
      opacity: 0.8;
  }
}

.post-swiper {
  .col-12 {
    padding: 0 !important;
  }

}
